<div class="well">
	<select ng-options="package as package.name for package in ctrl.Packages" ng-model="ctrl.newPackage" class="form-control">
		<option value="" disabled>Choose Package</option>
	</select>
	<div class="subPacks" ng-repeat="pack in ctrl.newPackage.packs track by $index">
		<input type="checkbox" name="{{pack.name}}" ng-model="ctrl.newPackage.packs[$index].selected" ng-change="ctrl.subPackChange('newPackage', ctrl.newPackage.packs[$index])" />{{pack.name}}
	</div>
	<br>
	<!-- <pre><code>{{ ctrl.newPackage | json }}</code></pre> -->
</div>
